.my-class img{
    

};   
.my-class{
    text-align: center;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    float:none;
}
body {
    display: flex;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
}
.url-link{
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
    font-size: x-small;
}